<figure class="card">
    <figcaption>{{ this.people.name }}</figcaption>
    <img src="https://starwars-visualguide.com/assets/img/characters/{{this.people.id}}.jpg" alt="{{this.people.id}}" onerror="this.onerror=null;this.src='https\://starwars-visualguide.com/assets/img/big-placeholder.jpg';">
</figure>
<div class="peopleDatas">
    <p>Birth Year: {{this.people.birth_year}}</p>
    <p>Eye color: {{this.people.eye_color}}</p>
    <p>Gender: {{this.people.gender}}</p>
    <p>Hair color: {{this.people.hair_color}}</p>
    <p>Height: {{this.people.height}}</p>
    <p>Mass: {{this.people.mass}}</p>
    <p>Skin: {{this.people.skin_color}}</p>
</div>