
.list{
    list-style: none;
    display: flex;
    margin: auto;
    flex-flow:column;
    background-color: lightseagreen;
    padding: 1em;
    width:100%;
}
.list > li{
    cursor:pointer;
    text-align: center;
    background-color: lightcoral;
}
.list > li > ul{
    display: none;
    padding:0;
    text-align: left;
    list-style:none;
    background-color: lightblue;
    max-height:20em;
    overflow:auto;
}
.list > li:hover > ul{
    display: block;
}
.list > li > ul > li:hover{
    background-color: lime;
}