<input list="datas" type="text" placeholder="Search..." spellcheck="false">
<datalist id="datas">
    <option *ngFor="let people of this.people_names" data-cat="people" value="{{people}}"></option>
    <option *ngFor="let film of this.film_titles" data-cat="films" value="{{film}}"></option>
    <option *ngFor="let planets of this.planet_names" data-cat="planets" value="{{planets}}"></option>
    <option *ngFor="let species of this.species_names" data-cat="species" value="{{species}}"></option>
    <option *ngFor="let starships of this.starships_names" data-cat="starships" value="{{starships}}"></option>
    <option *ngFor="let vehicles of this.vehicles_names" data-cat="vehicles" value="{{vehicles}}"></option>
</datalist>
<button (click)="search()">Search</button>