.list{
    overflow: auto;
    height: 100vh;
    display:flex;
    // flex-direction:  column; 
    flex-wrap: wrap;
    justify-content: flex-start;
    // align-items	:center;
    // align-content:center;	
    // margin-left :300px;
    size: 70%;
    // margin-right: 10px;
    overflow-y: scroll;
    padding-bottom: 20px;
    background:url(../../../../assets/images/stars-back.jpg);
    // background-repeat: repeat;
    height: 85.63vh;
}
