app-nav-bar {
    min-width: 300px;
    height: 100vh;
    padding: 10px;
    overflow-y: scroll;
    background: url('../assets/images/stars-back.jpg');
    background-position: center;
    background-size: contain;
    text-shadow: 2px 1px 2px rgb(44, 109, 250), 0 0 1em rgb(44, 109, 250), 0 0 0.2em rgb(44, 109, 250);
}

app-content {
    width: 100vw;
    display: flex;
    flex-direction: column;
    background-color: royalblue;
}