<p>nav-bar works!</p>
<div class=navbar>
    <ul class="list">
        <li>Personnages
          <ul>
            <li *ngFor="let people of peoplesNames">{{people}}</li>
          </ul>
        </li>
        <li>Planètes
          <ul>
            <li *ngFor="let planets of planetsNames">{{planets}}</li>
          </ul>
        </li>
        <li>Films
          <ul>
            <li *ngFor="let films of filmsNames">{{films}}</li>
          </ul>
        </li>
        <li>Espèces
          <ul>
            <li *ngFor="let species of speciesNames">{{species}}</li>
          </ul>
        </li>
        <li>véhicules
          <ul>
            <li *ngFor="let vehicles of vehiclesNames">{{vehicles}}</li>
          </ul>
        </li>
        <li>vaisseaux
          <ul>
            <li *ngFor="let starships of starshipsNames">{{starships}}</li>
          </ul>
        </li>
      </ul>
</div>
    
    