.filmDatas{
    width:60%;
    margin: 3em;
    padding: 1em;
    border: 2px solid grey;
    font-size:.5em;
    overflow: hidden;
    border-radius: 2em;
    background: rgba(211, 211, 211, 0.466);
}