/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Stars";
    src: url("./assets/fonts/Starjedi.ttf");
}

* {
    box-sizing: border-box;
}

body {
    margin:0;
    text-transform: lowercase;
    font-family: "Stars",sans-serif;
    color: whitesmoke;
    overflow: hidden;
}

app-root {
    display: flex;
}