/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Stars";
    src: url("./assets/fonts/Starjedi.ttf");
}

* {
    box-sizing: border-box;
}

body {
    margin:0;
    text-transform: lowercase;
    font-family: "Stars",sans-serif;
    color: whitesmoke;
    overflow: hidden;
}
/*SCROLL-BARS*/
/*SCROLLBARS*/
::-webkit-scrollbar{
    margin:.5em;
    height:16px;
    width:16px;
    background:url("./assets/images/Saber.png");
    border-radius:1em;
}
::-webkit-scrollbar-thumb{
    background: url('./assets/images/LightSaber-4.png');
    background-size: cover;
    min-height:7em;
    border-radius:1em;
}
::-webkit-scrollbar-corner{
    background:#000;
}
app-root {
    display: flex;
}