figure{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items	:center;
    align-content:center;	
    border : 3px solid #FFE81F;
    border-radius: 5%;
    width: 400px;
    height: 300px;
    color: #FFE81F;
    filter: brightness(150%);
    padding-bottom: 5px;
}

img{
    width: 80%;
    overflow: none;
}