<div class="page">
    <div class="card">
        <figure class="title">
            <figcaption>{{ this.film.title }}</figcaption>
            <img src="https://starwars-visualguide.com/assets/img/films/{{this.film.id}}.jpg" alt="{{this.film.id}}">
        </figure>
        <p>"Date Created: "+{{this.film.created}}</p>
        <p>"Realised by "+{{this.film.director}}</p>
        <p>"Opening Crawl :"+{{this.film.opening_crawl}}</p>
    </div>
</div>
<div class="card_list">
    <p>{{this.film.species}}</p>
</div>
<div class="card_list">
    <p>{{this.film.starships}}</p>
</div>
<div class="card_list">
    <p>{{this.film.vehicles}}</p>
</div>
<div class="card_list">
    <p>{{this.film.characters}}</p>
</div>
<div class="card_list">
    <p>{{this.film.planets}}</p>
</div>
<!-- <h3>{{episode_id}}</h3> -->
<!-- <p>{{edited}}</p> -->
<!-- <p>{{producer}}</p>
    <p>{{release_date}}</p>  -->
